@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&family=Noto+Sans:wght@100&family=Raleway:wght@300&family=Roboto+Mono:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    button {
        height: 40px;
        margin-top: 20px;
        background: none;
        border: 2px solid rgb(2, 177, 148);
        color: rgb(2, 177, 148);
        padding: 10px;
    }
    button:hover {
        height: 40px;
        margin-top: 20px;
        background: rgb(2, 177, 148);
        border: 2px solid rgb(2, 177, 148);
        color: black;
        padding: 10px;
    }
    padding: 20px;

}

.header {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgb(2, 214, 179);
}


.result {
    display: block;
    background-color: rgb(49, 49, 49);
    max-width: 400px;
    margin: 0 auto;
    height: 25px;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.filther {
    display: block;
    background-color: rgb(49, 49, 49);
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    div {
        margin: 20px;
    }
}

.inputradio {
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 49, 49);
    max-width: 400px;
    height: 30px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    .slider {
        width: 350px;
    }
    span {
        margin-top: 5px;
    }
}

.che {
    height: 20px;
    width: 20px;
    position: relative;
    top: 5px;
}

.buff {
    background-color: rgb(49, 49, 49);
    margin-bottom: 20px;
    width: 30px;
    padding: 10px;
}

.buff-btn {
    width: 25px;
    height: 25px;
    color: rgb(2, 177, 148);
}

.cont-of-buff {
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    margin: 0 auto;
}
